.header {
  background-color:rgb(141, 141, 255) ;
  text-align: center;
  color: aliceblue;
  padding: 20px;

}

.container{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card{
  background-color: white;
  padding: 20px;
  /* width: 300px; */
  border-radius: 12px;
  text-align: center;
  color: black;
  box-shadow: 0 2px 10px rgba(0,0,0,1);
}

.foto{
  border-radius: 20px;
  margin-bottom: 15px;
}
.footer{
    /* width: 100%; */
    /* height: 20px; */
    background-color: rgba(249, 249, 249, 0.561);
}