@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700italic,700,400italic);


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.frases-container {
  
}
.card-frase {
  font-family: 'Merriweather', serif;
  /* font-family: Snell Roundhand, cursive; */
  font-style: italic;
  color: cadetblue;
  font-size: 25px;
  background-image: linear-gradient(33deg, rgb(97, 233, 238) 25%, #0e58e2);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body {
  background-color: rgb(19, 29, 37);
}

button {
  border: none;
}

button:hover {
  background-color: rgb(73, 31, 31);
  border: none;

}

